body {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

.my-header {
  background: #3167ad;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  box-shadow: 0 0 5px black;
  font-weight: bold;
  position: relative;
}

.message-container {
  margin: 20px;
  padding: 20px;
  background: RGBA(145, 206, 255, .8);
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: space-around;
}

.message-container h3 {
  font-size: 15px;
}

.btn-status {
  width: 10%;
  min-width: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: RGBA(49, 103, 173, .8);
  font-size: 15px;
  text-shadow: 1px 1px 1px black;
}

.btn-status:hover {
  color: RGB(49, 103, 173);
  background: white;
  text-shadow: none;
}

.cover {
  background: RGBA(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cover button{
  width: 40%;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.btn-new {
  background: RGBA(0, 65, 150, .8);
}

.btn-saved {
  background: RGBA(0, 153, 25, .8);
}

.btn-deleted {
  background: RGBA(150, 0, 10, .8);
}

.btn-new:hover {
  background: white;
  color: blue;
}

.btn-saved:hover {
  background: white;
  color: green;
}

.btn-deleted:hover {
  background: white;
  color: red;
}

.back-link {
  color: white;
  position: absolute;
  top: 15px;
  left: 25px;
  font-weight: bolder;
}
